.content{
    /* width: 60%; */
    text-align: left;
    margin-right: 7%;
}
.comment{
    width:25%;
    text-align: left;
    margin-top:62px;
}

.post{
    display: flex;
    justify-content: center; 
    
}
#button{
    padding: 7px 30px;
    text-decoration: none;
    background-color: white;
    border: 1px solid black;
    cursor: pointer
}